streamlit
transformers
torch
sentence-transformers
scikit-learn
numpy
requests
validators
streamlit-lottie
beautifulsoup4
gtts
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
